#sidebar-links {
    margin-top: 50px;
    line-height: 2.5;
}

#badge {
    padding-top: 50px;
}

#pages-title {
    padding-top: 30px;
}

.col-sm-6 {
    margin-top: 50px;
}

.playlist {
    padding-top: 30px;
}

.text-shadow-blue {
    text-shadow: -5px 5px 0 #6dcff6;
}

.text-shadow-pink {
    text-shadow: -5px 5px 0 #ffc0cb;
}

#web-player {
    padding-top: 20px;

}